body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
  background: #f5f8f9;
  color: #000000;
  color: #565a5f;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1;
}
body:before {
  content: "";
  display: table;
}
body:after {
  clear: both;
  content: "";
  display: table;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
ol {
  list-style: none;
}
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}
a {
  color: #38b7ea;
  text-decoration: none;
}
a img {
  border: none;
}
a:visited {
  color: #38b7ea;
}
input {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  height: 100%;
}
#container {
  height: 100%;
  position: relative;
}
.outer {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
}
.outer:before {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
  content: "";
  display: table;
}
.left {
  float: left;
}
.alignleft {
  float: left;
}
.right {
  float: right;
}
.alignright {
  float: right;
}
.clear {
  clear: both;
}
.logo {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#container > .outer {
  margin-bottom: 30px;
}
.archive-article-header a,
.layout-wrap-inner.tag-cloud a,
.archive-article-header a:visited,
.layout-wrap-inner.tag-cloud a:visited {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #565a5f;
  transition: 0.2s ease;
}
.archive-article-header a:hover,
.layout-wrap-inner.tag-cloud a:hover,
.archive-article-header a:visited:hover,
.layout-wrap-inner.tag-cloud a:visited:hover {
  color: #38b7ea;
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  color: #999999;
  font-size: 0.8rem;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
#header,
#profile .inner,
.article-inner,
#comments,
.archive-article,
#toTop {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.article-entry {
  color: #565a5f;
  line-height: 1.6em;
  padding: 0 20px;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  color: #999999;
  font-size: 1em;
}
.article-entry hr {
  border: 1px dashed #eceff2;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry ul {
  list-style: disc;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
}
.article-entry ol {
  list-style: decimal;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
}
.article-entry dt {
  font-weight: bold;
}
.article-entry:before {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
  content: "";
  display: table;
}
.article-entry p {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.6em;
  margin: 1.6em 0;
  width: 100%;
}
.article-entry a {
  color: #38b7ea;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry dl {
  margin-bottom: 1.6em;
  margin-top: 1.6em;
}
.article-entry img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
.article-entry video {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
.article-entry iframe {
  border: none;
}
.article-entry th {
  border-bottom: 3px solid #eceff2;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #eceff2;
  padding: 10px 0;
}
.article-entry blockquote {
  font-size: 1.2em;
  margin: 1.6em 20px;
  text-align: justify;
  margin: 0 0 1.25rem;
  padding: .5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #ddd;
}
.article-entry blockquote p {
  padding-bottom: 1.6em;
}
.article-entry blockquote footer {
  font-family: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 1.6em 0;
}
.article-entry blockquote footer cite:before {
  content: "â€”";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  margin: 0;
  text-align: left;
  width: 45%;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-left: 1em;
  margin-right: 0.5em;
}
.article-entry .caption {
  color: #999999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.article-entry .video-container iframe {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.article-entry .video-container object {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.article-entry .video-container embed {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.article-entry pre {
  background: #34383d;
  border-color: #eceff2;
  border-style: solid;
  border-width: 1px 0;
  color: #cccccc;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 22.4px;
  margin: 0 -20px;
  overflow: auto;
  padding: 15px 20px;
}
.article-entry pre code {
  background: none;
  padding: 0;
  text-shadow: none;
}
.article-entry .highlight {
  background: #34383d;
  border-color: #eceff2;
  border-style: solid;
  border-width: 1px 0;
  color: #cccccc;
  line-height: 22.4px;
  margin: 0 -20px;
  overflow: auto;
  padding: 15px 20px;
}
.article-entry .highlight .gutter pre {
  color: #666666;
  font-size: 0.85em;
  padding-right: 20px;
  text-align: right;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  color: #999999;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
  content: "";
  display: table;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .line {
  height: 22.4px;
}
.article-entry .line-numbers {
  color: #666666;
  font-size: 0.85em;
}
.article-entry code {
  background: #f5f8f9;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  padding: 0 0.3em;
  text-shadow: 0 1px #ffffff;
}
.cours blockquote {
  color: #dd0000;
  border-left: 1px solid #dd0000;
}
.widget {
  font-size: 0.9em;
  line-height: 1.6em;
  padding: 15px 5px;
  word-wrap: break-word;
}
.widget h1 {
  font-size: 2em;
}
.widget h2 {
  font-size: 1.5em;
}
.widget h3 {
  font-size: 1.3em;
}
.widget h4 {
  font-size: 1.2em;
}
.widget h5 {
  font-size: 1em;
}
.widget h6 {
  color: #999999;
  font-size: 1em;
}
.widget hr {
  border: 1px dashed #eceff2;
}
.widget strong {
  font-weight: bold;
}
.widget sup {
  top: -0.5em;
}
.widget sub {
  bottom: -0.2em;
}
.widget small {
  font-size: 0.85em;
}
.widget ul {
  list-style: disc;
  list-style: none;
  margin: 0;
}
.widget ul li {
  padding: 0;
}
.widget ul ul {
  list-style: disc;
}
.widget ul ol {
  list-style: decimal;
}
.widget ul:not(#recent-post) li a:before {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #cccccc;
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 6px;
  transition: 0.2s ease;
}
.widget ul:not(#recent-post) li a:hover before {
  color: #333333;
}
.widget ol {
  list-style: decimal;
  list-style: none;
  margin: 0;
}
.widget ol ul {
  list-style: disc;
}
.widget ol ol {
  list-style: decimal;
}
.widget ol:not(#recent-post) li a:before {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #cccccc;
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 6px;
  transition: 0.2s ease;
}
.widget ol:not(#recent-post) li a:hover before {
  color: #333333;
}
.widget dt {
  font-weight: bold;
}
.widget a {
  color: #777777;
  text-decoration: none;
}
.widget a:hover {
  color: #333333;
}
.widget .label {
  color: #eeeeee;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.widget .label a {
  color: #ffffff;
}
.widget .label a:hover {
  color: #ffffff;
}
.widget .label:hover {
  background-color: #34495e;
  color: #ffffff;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  line-height: 1.6em;
  margin: 0 20px;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-bottom: 0;
  margin-top: 0;
}
#header {
  background: #ffffff;
  position: relative;
}
#header a {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #565a5f;
  transition: 0.2s ease;
  white-space: nowrap;
}
#header a:visited {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #565a5f;
  transition: 0.2s ease;
  white-space: nowrap;
}
#header a:hover {
  color: #38b7ea;
}
.header-inner #logo,
#main-nav,
#sub-nav,
#search-form-wrap {
  height: 40px;
  line-height: 40px;
  padding: 12px 15px;
}
.header-inner {
  height: 100%;
  position: relative;
}
.header-inner #logo {
  display: inline-block;
  float: left;
}
.header-inner #logo .logo {
  display: inline-block;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}
.header-inner #logo .site-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  vertical-align: top;
}
#main-nav {
  float: left;
}
#sub-nav {
  float: right;
}
#sub-nav #profile-nav #profile-anchor {
  display: block;
  height: 40px;
  line-height: 40px;
}
#sub-nav #profile-nav #profile-anchor:before {
  content: "";
  display: table;
}
#sub-nav #profile-nav #profile-anchor:after {
  clear: both;
  content: "";
  display: table;
}
#sub-nav #profile-nav .avatar {
  float: left;
  height: 40px;
  margin-right: 8px;
  width: 40px;
}
#sub-nav #profile-nav .fa {
  float: left;
  line-height: 40px;
}
#search-form-wrap {
  float: right;
}
#search-form-wrap .search-form {
  position: relative;
}
#search-form-wrap .search-form .search-form-input {
  -webkit-border-radius: 21px;
  border-radius: 21px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px 0 10px;
  width: 100%;
}
#search-form-wrap .search-form .search-form-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
#search-form-wrap .search-form .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form-wrap .search-form .search-form-submit {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'FontAwesome';
  font: 13px font-icon;
  margin-top: -7px;
  position: absolute;
  right: 15px;
  top: 50%;
}
#search-form-wrap .search-form .search-form-submit:before {
  content: '\f002';
}
#search-form-wrap .search-form .search-form-submit:hover {
  color: #777777;
}
#search-form-wrap .search-form .search-form-submit:focus {
  color: #777777;
}
#header-title {
  height: 40px;
  left: 0;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
}
.header-sub {
  border-top: 1px solid #eceff2;
}
.header-sub ul {
  margin: 0 15px;
}
.header-sub ul:before {
  content: "";
  display: table;
}
.header-sub ul:after {
  clear: both;
  content: "";
  display: table;
}
.header-sub ul li {
  float: left;
  margin: 0 10px;
}
.header-sub ul li a {
  display: inline-block;
  line-height: 48px;
}
.header-sub .main-nav-link {
  display: inline-block;
  line-height: 48px;
}
.nav-icon {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 14px;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 15px;
  position: relative;
  text-align: center;
  width: 14px;
}
.main-nav-link {
  display: block;
  float: left;
  font-weight: 300;
  padding: 0 15px;
}
.search-form-input {
  -moz-appearance: none;
  -moz-box-sizing: border-box;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.2s ease;
  appearance: none;
  background: none;
  border: 1px solid #eceff2;
  box-shadow: none;
  box-sizing: border-box;
  color: #565a5f;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  outline: none;
  transition: 0.2s ease;
  width: 200px;
}
.search-form-input:focus {
  border-color: #38b7ea;
}
#main-nav-mobile {
  overflow-x: auto;
  overflow-y: hidden;
}
#main-nav-mobile .menu {
  height: 48px;
  margin: 0;
}
#main-nav-mobile .menu:before {
  content: "";
  display: table;
}
#main-nav-mobile .menu:after {
  clear: both;
  content: "";
  display: table;
}
#main-nav-mobile .menu .search-form-input {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: none;
  height: 32px;
  line-height: 32px;
  margin-right: 15px;
  padding: 0 10px;
}
#main-nav-mobile .menu .search-form-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
#main-nav-mobile .menu .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.bio {
  text-align: center;
}
#profile {
  display: inline;
  display: none;
  float: left;
  margin: 0 0.7692307692308%;
  width: 21.53846154%;
}
#profile .inner {
  background: #ffffff;
  margin-top: 40px;
}
#profile .inner .bio h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 15px;
}
#profile .inner .bio p {
  line-height: 1.5em;
  margin: 5px 20px 10px 20px;
  max-width: 300px;
  text-align: justify;
}
#profile .inner .base-info #avatar {
  display: block;
  height: 200px;
  margin: 10px auto 20px;
  width: 200px;
}
#profile .inner .base-info #name {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#profile .inner .base-info #title {
  display: block;
  text-align: center;
}
#profile .inner .base-info #location {
  color: #9a9ea3;
  display: block;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
#profile .inner .base-info #location .fa {
  margin-right: 5px;
}
#profile .inner .base-info #follow {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-border-radius: 20px;
  -webkit-transition: 0.2s ease;
  background: #38b7ea;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 10px;
  text-align: center;
  transition: 0.2s ease;
  width: 150px;
}
#profile .inner .base-info #follow:hover {
  background: #49c8fb;
}
#profile .inner .article-info {
  padding: 0px;
}
#profile .inner .article-info:before {
  content: "";
  display: table;
}
#profile .inner .article-info:after {
  clear: both;
  content: "";
  display: table;
}
#profile .inner .article-info .article-info-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  padding: 20px 15px;
  text-align: center;
  width: 50%;
}
#profile .inner .article-info .article-info-block span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}
#profile .inner .article-info .article-info-block:first-child {
  border-right: 1px solid #eceff2;
}
#profile .inner .contact-info .contact-list {
  width: 100%;
}
#profile .inner .contact-info .contact-list td {
  font-size: 24px;
  text-align: center;
}
#profile .inner .contact-info .contact-list td a {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #898d92;
  position: relative;
  transition: 0.2s ease;
}
#profile .inner .contact-info .contact-list td a:hover {
  color: #565a5f;
}
#profile .inner .contact-info .contact-list td a:hover after {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #333333;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  content: attr(title);
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  position: absolute;
  right: -50%;
  text-transform: uppercase;
  top: -41px;
  white-space: nowrap;
  z-index: 1;
}
#profile .inner .contact-info .contact-list td a:hover before {
  border-color: #333333 transparent;
  border-width: 5px 5px 0 5px;
  border: solid;
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  top: -12px;
  z-index: 2;
}
.profile-block {
  border-bottom: 1px solid #eceff2;
  padding: 15px 20px;
}
.profile-block:last-child {
  border-bottom: none;
}
#profile.card {
  display: block;
  min-width: 280px;
  position: absolute;
  right: 20px;
  top: 50px;
  z-index: 999;
}
#profile.card .profile-inner {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
#profile.card .profile-inner:before {
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 10px;
  content: '';
  position: absolute;
  right: 10px;
  top: -20px;
  z-index: 1;
}
#profile.card .profile-inner:after {
  border-color: transparent transparent #ffffff transparent;
  border-color: transparent transparent #dbdee1 transparent;
  border-style: solid;
  border-width: 10px;
  content: '';
  position: absolute;
  right: 10px;
  top: -20px;
  z-index: 0;
  z-index: 1;
}
.article {
  margin: 40px 0;
}
.article-inner {
  overflow: hidden;
}
.article-banner {
  height: auto;
  width: 100%;
}
.article-meta:before {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
  content: "";
  display: table;
}
.article-meta .article-date {
  color: #9a9ea3;
  margin-right: 10px;
  line-height: 1.7em;
}
.article-meta .article-category {
  color: #9a9ea3;
  margin-right: 10px;
}
.article-meta a {
  color: #9a9ea3;
}
.article-meta a:hover {
  color: #38b7ea;
}
.article-meta > div {
  margin-bottom: 5px;
}
.article-date {
  float: left;
}
.article-category {
  color: #565a5f;
  float: left;
  line-height: 1em;
}
.article-category .fa-angle-right {
  margin: 0 5px;
}
.article-header {
  padding: 20px 20px 0;
}
.article-header .article-title {
  display: block;
  margin-bottom: 14px;
}
.article-title {
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  color: #565a5f;
  font-size: 2em;
  line-height: 1.1em;
  text-decoration: none;
  transition: color 0.2s;
}
a.article-title:visited {
  color: #565a5f;
}
a.article-title:hover {
  color: #38b7ea;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-more-link {
  text-align: center;
}
.article-more-link a {
  -webkit-border-radius: 15px;
  background: #f5f8f9;
  border-radius: 15px;
  color: #999999;
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #ffffff;
}
.article-more-link a:hover {
  background: #38b7ea;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px #169cd2;
}
.article-footer {
  border-top: 1px solid #eceff2;
  font-size: 0.85em;
  line-height: 1.6em;
  margin: 0 20px 20px;
  padding-top: 1.6em;
}
.article-footer:before {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
  content: "";
  display: table;
}
.article-footer a {
  color: #999999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #565a5f;
}
.article-footer a.label {
  color: #ffffff;
}
.article-footer .label:hover {
  background: #49c8fb;
}
.article-footer .tagliste {
  display: table-cell;
  padding-left: 1.2em;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
  content: "";
  display: table;
}
.article-nav-link-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #999999;
  display: block;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
}
.article-nav-link-wrap:hover {
  color: #565a5f;
}
.article-nav-caption {
  color: #565a5f;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  display: none;
  margin-left: -145px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  -moz-box-sizing: border-box;
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-box-sizing: border-box;
  background: none;
  border-radius: 3px 3px 0 0;
  border: 1px solid #eceff2;
  box-sizing: border-box;
  color: #565a5f;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  height: 36px;
  line-height: 36px;
  outline: none;
  padding: 0 15px;
  width: 100%;
}
.article-share-links {
  background: #f5f8f9;
}
.article-share-links:before {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
  content: "";
  display: table;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  color: #999999;
  display: block;
  float: left;
  height: 36px;
  position: relative;
  text-shadow: 0 1px #ffffff;
  width: 50px;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 20px;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #ffffff;
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000000;
  position: relative;
}
.article-gallery-photos {
  overflow: hidden;
  position: relative;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.article-gallery-img.loaded {
  display: block;
  position: absolute;
}
#comments {
  margin: 40px 0;
  padding: 20px;
}
#comments a {
  color: #38b7ea;
}
.archives:before {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
  content: "";
  display: table;
}
.archives .article:first-child {
  margin: 20px 0;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap,
.layout-title {
  font-size: 1.4em;
  margin: 40px 0 20px 0;
}
.archive-year-wrap .fa,
.archive-category-wrap .fa,
.archive-tag-wrap .fa,
.layout-title .fa {
  margin-right: 3px;
}
.archive-year-wrap .archive-year,
.archive-category-wrap .archive-year,
.archive-tag-wrap .archive-year,
.layout-title .archive-year {
  color: #565a5f;
}
.archive-year-wrap .archive-year:hover,
.archive-category-wrap .archive-year:hover,
.archive-tag-wrap .archive-year:hover,
.layout-title .archive-year:hover {
  color: #38b7ea;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  page-break-inside: avoid;
}
.archive-article:before {
  content: "";
  display: table;
}
.archive-article:after {
  clear: both;
  content: "";
  display: table;
}
.archive-article-thumbnail {
  float: left;
  margin-right: 10px;
}
.archive-article-thumbnail .thumbnail {
  display: block;
  height: 90px;
  overflow: hidden;
  position: relative;
  width: 160px;
}
.archive-article-thumbnail .thumbnail span {
  display: block;
  height: 100%;
  width: 100%;
}
.archive-article-thumbnail .thumbnail .thumbnail-image {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.archive-article-thumbnail .thumbnail .thumbnail-none {
  background-image: url("images/thumb-default-small.png");
}
.archive-article-header {
  padding: 10px;
}
.archive-article-title {
  font-size: 1.2em;
  line-height: 1.2em;
}
.archive-article-date {
  display: block;
  margin-top: 8px;
}
.layout-wrap-inner.list-categories ul {
  list-style: none;
  margin-left: 15px;
}
.layout-wrap-inner.list-categories ul li {
  border-bottom: 1px solid border-color;
  font-size: 14px;
  padding: 10px 0;
}
.layout-wrap-inner.list-categories ul li a {
  color: #777777;
}
.layout-wrap-inner.list-categories ul .category-list-child {
  border-bottom: 1px solid border-color;
  font-size: 14px;
  padding: 10px 0;
}
.layout-wrap-inner.list-categories ul .category-list-child a {
  color: #777777;
}
.layout-wrap-inner.list-categories ul ul {
  list-style: none;
}
.layout-wrap-inner.list-categories ul ul li {
  border: none;
}
.layout-wrap-inner.list-categories ul ul li:last-child {
  padding-bottom: 0px;
}
.layout-wrap-inner.list-categories ul ol {
  list-style: none;
}
.layout-wrap-inner.list-categories ul ol li {
  border: none;
}
.layout-wrap-inner.list-categories ul ol li:last-child {
  padding-bottom: 0px;
}
.layout-wrap-inner.list-categories li a:before {
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  color: #cccccc;
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 6px;
  transition: 0.2s ease;
}
.layout-wrap-inner.list-categories li a:hover before {
  color: #333333;
}
.layout-wrap-inner.tag-cloud a {
  margin-right: 8px;
}
.layout-wrap-inner.tag-cloud a:before {
  content: '#';
}
#page-nav {
  color: #999999;
  overflow: hidden;
  text-align: center;
}
#page-nav:before {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
  content: "";
  display: table;
}
#page-nav a {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #999999;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}
#page-nav a:hover {
  background: #38b7ea;
  color: #ffffff;
}
#page-nav span {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  text-align: center;
}
#page-nav .page-number {
  display: inline-block;
}
#page-nav .current {
  color: #565a5f;
  font-weight: bold;
}
#page-nav .space {
  color: #eceff2;
}
#footer {
  border-top: 1px solid #eceff2;
  color: #565a5f;
  font-size: 16px;
  padding: 20px 0;
  text-align: center;
}
#footer .outer {
  margin-bottom: 0;
}
#footer a {
  color: #38b7ea;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  font-size: 0.85em;
  line-height: 1.6em;
}
pre .comment,
pre .title,
pre .template_comment,
pre .header,
pre .javadoc {
  color: #999999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .winutils,
pre .method,
pre .request,
pre .status,
pre .nginx .title,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .clojure .title,
pre .deletion {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .preprocessor .keyword,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command,
pre .lisp .body,
pre .parent,
pre .haskell .type {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .addition {
  color: #99cc99;
}
pre .string,
pre .value,
pre .inheritance,
pre .ruby .symbol,
pre .symbol .string,
pre .xml .cdata,
pre .function .title {
  color: #99cc99;
}
pre .css .hexcolor {
  color: #66cccc;
}
pre .phpdoc {
  color: #66cccc;
}
pre .tex .formula {
  color: #66cccc;
}
pre .keyword {
  color: #cc99cc;
}
pre .javascript .function {
  color: #cc99cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .identifier,
pre .vhdl {
  color: #6699cc;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  list-style: none;
  margin: 0 20px;
}
.category-list-count {
  color: #999999;
  font-size: 0.85em;
  padding-left: 5px;
}
.category-list-count:before {
  content: "(";
}
.category-list-count:after {
  content: ")";
}
.tag-list-count {
  color: #999999;
  font-size: 0.85em;
  padding-left: 5px;
}
.tag-list-count:before {
  content: "(";
}
.tag-list-count:after {
  content: ")";
}
.archive-list-count {
  color: #999999;
  font-size: 0.85em;
  padding-left: 5px;
}
.archive-list-count:before {
  content: "(";
}
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
}
.widget-wrap {
  margin: 40px 10px;
}
.widget-title {
  margin-bottom: 0;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  list-style: disc;
  margin-left: 15px;
}
.widget ul li,
.widget ol li,
.widget ul .category-list-child,
.widget ol .category-list-child {
  border-bottom: 1px solid border-color;
  font-size: 14px;
}
.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a {
  color: #777777;
}
.widget ul ul li,
.widget ol ul li,
.widget ul ol li,
.widget ol ol li {
  border: none;
}
.widget ul ul li:last-child,
.widget ol ul li:last-child,
.widget ul ol li:last-child,
.widget ol ol li:last-child {
  padding-bottom: 0px;
}
#toTop {
  -webkit-border-radius: 4px;
  background: #565a5f;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
}
#toTop.fix {
  bottom: 20px;
  position: fixed;
}
#recent-post li {
  padding: 10px 0 10px 94px;
}
#recent-post li:before {
  content: "";
  display: table;
}
#recent-post li:after {
  clear: both;
  content: "";
  display: table;
}
#recent-post li .item-thumbnail {
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  float: left;
  margin-left: -94px;
  opacity: 1;
  transition: all 0.2s ease;
}
#recent-post li .item-thumbnail .thumbnail {
  display: block;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
}
#recent-post li .item-thumbnail .thumbnail span {
  display: block;
  height: 100%;
  width: 100%;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-image {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  position: absolute;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-none {
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-image: url("images/thumb-default-small.png");
  background-size: 100% 100%;
}
#recent-post li .item-inner a {
  font-size: 13px;
  text-transform: uppercase;
}
#recent-post li .item-inner a a {
  color: #38b7ea;
}
#recent-post li .item-inner a a:hover {
  color: #333333;
}
#recent-post li .item-inner .item-category {
  font-size: 13px;
  text-transform: uppercase;
}
#recent-post li .item-inner .item-category a {
  color: #38b7ea;
}
#recent-post li .item-inner .item-category a:hover {
  color: #333333;
}
#recent-post li .item-inner .item-title {
  font-size: 15px;
}
#recent-post li .item-inner .item-title a {
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  color: #333333;
  transition: all 0.2s ease;
}
#recent-post li .item-inner .item-date {
  color: #aaaaaa;
  font-size: 13px;
  text-transform: uppercase;
}
#recent-post li:hover .item-thumbnail {
  opacity: 0.8;
}
#recent-post li:hover .item-title a {
  color: #38b7ea;
}
#recent-post.no-thumbnail li {
  padding: 10px 0px;
}
#recent-post li .item-inner a a,
#recent-post li .item-inner .item-category a,
#recent-post li .item-inner a .fa,
#recent-post li .item-inner .item-category .fa {
  margin-right: 5px;
}
code.has-jax {
  background: inherit;
  border: inherit;
  color: #515151;
  font-size: 100%;
  font: inherit;
}
.label {
  background-color: #38b7ea;
  border-radius: .25em;
  color: #ffffff;
  display: block;
  float: left;
  line-height: 1.2em;
  margin: .2em;
  margin: 0 .25em;
  padding: .2em .3em .4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.tagliste .label {
  display: inline;
  float: none;
  margin: 0;
}
.article-tag {
  display: table;
}
.article-tag .fa {
  display: table-cell;
}
article .article-category-link {
  background-color: #34495e;
  border-radius: .25em;
  color: #ffffff;
  line-height: 1;
  padding: .2em .4em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
article .article-category .sciences {
  background-color: #1abc9c;
  color: #ffffff;
}
article .article-category .futura-sciences {
  background-color: #e67e22;
  color: #ffffff;
}
article .article-category .pour-la-science {
  background-color: #9b59b6;
  color: #ffffff;
}
article a.article-category-link:hover {
  background-color: #7f8c8d;
  color: #2c3e50;
}
.hljs {
  -webkit-text-size-adjust: none;
  background: #272822;
  color: #dddddd;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}
.hljs .hljs-constant {
  color: #66d9ef;
}
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-keyword,
.hljs-literal,
.hljs-strong,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special {
  color: #f92672;
}
.asciidoc .hljs-code {
  color: #66d9ef;
}
.markdown .hljs-code {
  color: #66d9ef;
}
.hljs-code {
  color: white;
}
.hljs-class .hljs-title {
  color: white;
}
.hljs-header {
  color: white;
}
.hljs-link_label,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-value,
.hljs-regexp {
  color: #bf79db;
}
.hljs-link_url,
.hljs-tag .hljs-value,
.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-emphasis,
.hljs-type,
.hljs-preprocessor,
.hljs-pragma,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-name {
  color: #a6e22e;
}
.hljs-comment,
.hljs-annotation,
.smartquote,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}
.hljs-keyword,
.hljs-literal,
.css .hljs-id,
.hljs-doctag,
.hljs-title,
.hljs-header,
.hljs-type,
.vbscript .hljs-built_in,
.rsl .hljs-built_in,
.smalltalk .hljs-class,
.diff .hljs-header,
.hljs-chunk,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.tex .hljs-special,
.hljs-request,
.hljs-status {
  font-weight: bold;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
/* MEDIA QUERY */
@media screen and (max-width: 559px) {
  .outer {
    padding: 0;
  }
  #header-sub {
    display: none;
  }
  #main-nav {
    display: none;
  }
  #main-nav-mobile .menu .search-form-input {
    display: block;
  }
  #search-form-wrap {
    display: none;
  }
  .archive-year-wrap,
  .archive-category-wrap,
  .archive-tag-wrap,
  .layout-title {
    font-size: 1.2em;
    padding: 0 15px;
  }
  .layout-wrap-inner {
    padding: 0 15px;
  }
  .archive-article-thumbnail .thumbnail {
    height: 67.5px;
    width: 120px;
  }
  .archive-article-title {
    display: block;
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
  }
  #toTop {
    font-size: 28px;
    height: 54px;
    line-height: 54px;
    width: 54px;
  }
  #page-nav .page-number {
    display: none;
  }
  .widget-wrap {
    margin: 40px 20px;
  }
}
@media screen and (min-width: 560px) and (max-width: 799px) {
  #toTop {
    width: 54px;
    height: 54px;
    font-size: 28px;
    line-height: 54px;
  }
  #header-sub,
  #main-nav {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
  #sidebar {
    display: inline;
    float: left;
    width: 29.230769230769198%;
    margin: 0 0.7692307692308%;
  }
  #main {
    display: inline;
    float: left;
    width: 67.6923076923077%;
    margin: 0 0.7692307692308%;
  }
  #main-nav-mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #main {
    display: inline;
    float: left;
    margin: 0 0.7692307692308%;
    width: 52.3076923076923%;
  }
  #main-nav-mobile {
    display: none;
  }
  #profile {
    display: block;
  }
  #sub-nav {
    display: none;
  }
  #article-nav {
    margin: 40px 0;
  }
  #article-nav:before {
    -webkit-border-radius: 50%;
    background: #787c81;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
  }
  .article-nav-link-wrap {
    margin-top: 0;
    width: 50%;
  }
  #article-nav-newer {
    float: left;
    padding-right: 20px;
    text-align: right;
  }
  #article-nav-older {
    float: right;
    padding-left: 20px;
    text-align: left;
  }
  #sidebar {
    display: inline;
    float: left;
    margin: 0 0.7692307692308%;
    width: 21.5384615384615%;
  }
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > li li.disabled {
  background-color: #eee;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
#pagination {
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
