<footer id="footer">
<div class="footer-main">
  <div class="outer">
  	<nav id="footer-nav">
    {{ range .Site.Params.menufooter }}
           <a class="main-nav-link" href="{{ .link | absURL }}">{{ .label }}</a>
          {{ end }}
    </nav>
   </div>
     <div class="outer">
    <div id="footer-info" class="inner">
      &copy; {{.Now.Format "2006"}} {{ .Site.Copyright }} - {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
    </div>
  </div>
  </div>
</footer>

{{ partial "footer_js" . }}
